.delseries{
	display: inline-block;
	margin-bottom: 0.5em;
}
.series__name{
	margin-top:1em;
	margin-bottom:0.5em;
}

.comicgrid{
	display: grid;
	width: fit-content;
	grid-template-columns: repeat(5,auto);
	grid-auto-flow: row;
}
.comicgrid>*{
	margin-right: 0.5em;
}
.comicgrid>.comic__id{
	grid-column: 1;
}
.comicgrid>.comic__name{
	grid-column: 2;
}
.comicgrid>.comic__date{
	grid-column: 3;
}
.comicgrid>.comic__edit{
	grid-column: 4;
}
.comicgrid>.comic__delete{
	grid-column: 5;
}

fieldset{
	border: solid 1px var(--lnkc);
}