/*

template for custom font:

@font-face {
	font-family: 'CustomFont';
	font-weight: 400;
	src: url('./resources/custom-font.ttf') format('truetype');
}

*/

/* global variables */
:root{
	/* background color */
	--bgc: #f58ea8;
	/* link color */
	--lnkc: #664e87;/*normal*/
	--lnkhc: #a8f58e;/*active*/
	--lnkdc: #bdb4cc;/*disabled*/
	/* card background color */
	--cardc: #FFF;
	
	/* default font name */
	font-family: sans-serif;
}

/* header image on hover */
#header>a:hover>img{
	mix-blend-mode: soft-light;
}