/* links */
a{
	color: var(--lnkc);
	cursor: pointer;
}
a:hover,
a.current {
	color: var(--lnkhc);
}
a.disabled {
	color: var(--lnkdc);
}
a.current,
a.disabled {
	pointer-events: none;
}

/* body */
body{
	background-color: var(--bgc);
}

/* header and navbar */
#header{
	display: contents;
}
#header>nav{
	width:100%;
	position:sticky;
	top:0;
	z-index:1;
	background-color: var(--bgc);
}
#header>nav>a{
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
}
#header>a{
	display: block;
	margin: 0 auto;
	width: fit-content;
}
#header>a>img{
	max-height: 10em;
}
/* navbar in general */
nav{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2em;
}
nav>a{
	position: relative;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}
nav>a::after{
	content: '';
	display: block;
	position: absolute;
	bottom: -0.2em;
	left: 50%;
	transform: translate(-50%,0);
	width: 0;
	height: 0.15em;
	background-color: var(--lnkhc);
	transition: width 0.2s;
	pointer-events: none;
}
nav>a:hover::after,
nav>a.current::after{
	width: 100%;
}
nav>a>svg{
	height:2em;
	width:auto;
}
nav>a.revicon>svg{
	transform:scale(-1,1);
}

/* cards in general */
.card{
	margin: 0.5em;
	padding: 1em 2em;
	background-color: var(--cardc);
}

/* comic */
.comic{
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	min-width: 50vw;
	max-width: 80vw;
}
.comic>.comic__inner{
	margin:1em 0;
	max-width:100%;
}