main{
	display:grid;
	width:fit-content;
	margin:0 auto;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"c c"
		"i s";
}
main>.comic{
	justify-self:center;
	grid-area: c;
}
main>.infobox{
	grid-area: i;
}